In [3]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [4]:
#todaysprice data nepalstock
#dateformat=2021-4-1(yyyy-m-d)
url='http://www.nepalstock.com/todaysprice/?startDate=&stock-symbol=&_limit=300'
page=requests.get(url)
soup=BeautifulSoup(page.content,'html.parser')

In [5]:
names=soup.select("tr.unique td")
columnlist=[]
for i in names:
    columnlist.append(i.text)
df=pd.DataFrame(columns=columnlist)

In [6]:
rows=soup.find("table", attrs={"class":"table"}).find_all("tr")[2:-4]
number=len(rows)

for i in range (2,number+2):
    rows=soup.find("table", attrs={"class":"table"}).find_all("tr")[i]
    l=[]
    td=rows.find_all('td')
    for i in td:
        l.append(i.text.strip())
    a_series = pd.Series(l, index = df.columns)
    df = df.append(a_series, ignore_index=True)

In [7]:
df

,S.N.,Traded Companies,No. Of Transaction,Max Price,Min Price,Closing Price,Traded Shares,Amount,Previous Closing,Difference Rs.
0,1,10% Sunrise Debenture 2080,3,1040.00,1026.00,1040.00,525.00,545650.00,1025.00,15.00
1,2,10.25% GLOBAL IME BANK LTD. DEBENTURE 2080/81,1,1056.00,1056.00,1056.00,50.00,52800.00,1075.00,-19.00
2,3,10.25% NBBL Debenture 2085,2,1046.00,1045.00,1046.00,75.00,78400.00,1050.00,-4.00
3,4,10.25% NIC Asia Debenture 2083/84,2,1086.00,1086.00,1086.00,100.00,108600.00,1086.00,0.00
4,5,10.50% SBL Debenture 2082,1,1048.00,1048.00,1048.00,25.00,26200.00,1052.00,-4.00
...,...,...,...,...,...,...,...,...,...,...
207,208,UNIVERSAL POWER COMPANY LTD,383,156.00,148.00,150.00,103056.00,15536886.00,150.00,0.00
208,209,Unnati Sahakarya Laghubitta Bittiya Sanstha Li...,36,2330.00,2280.00,2320.00,1597.00,3674879.00,2358.00,-38.00
209,210,Upper Tamakoshi Hydropower Ltd,2836,910.00,848.00,908.00,391207.00,347568093.00,862.00,46.00
210,211,Vijaya laghubitta Bittiya Sanstha Ltd.,92,1657.00,1600.00,1637.00,4984.00,8099792.00,1627.00,10.00
211,212,Womi Microfinance Bittiya Sanstha Ltd.,35,1658.00,1538.00,1658.00,2156.00,3571678.00,1508.00,150.00